.auth-wrapper {
  height: 80vh;
  display: flex;
  align-items: center;
}

.auth-container {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #333;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  font-size: 30px;
  color: #fff;
}

.auth-container h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #fff;
}

.auth-container form {
  display: flex;
  flex-direction: column;
}

.auth-container input {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #555;
  border-radius: 4px;
  background-color: #444;
  color: #fff;
}

.auth-container input::placeholder {
  color: #bbb;
}

.auth-container button {
  padding: 10px;
  background-color: #194778;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.auth-container button:hover {
  background-color: #053569;
}

.auth-container .error {
  color: #ff4d4d;
  text-align: center;
}

.auth-container .link {
  text-align: center;
}

.auth-container .redirect {
  text-decoration: underline;
}
